<div class="content">
  <% if params[:controller] == 'home' && params[:action] == 'index' %>
	<div id="sliderFrame">
    <div id="slider">
      <a href='http://www.smpitnuruljannah.blogspot.com' target='_blank'><img src="/assets/nuruljannah.jpg" /></a>
      <a href='http://www.dijualchemical.blogspot.com' target='_blank'><img src="/assets/chemical.jpg"/></a>
      <a href='http://wwww.i-bossnetwork.com' target='_blank'><img src="/assets/iboss.jpg"/></a>
      <a href='http://airsehatcjdw.blogspot.com/' target='_blank'><img src="/assets/2.jpg"/></a>
      <a href='http://kampoengnagreg.com' target='_blank'><img src="/assets/3.jpg"/></a>
      <a href='#' target='_blank'><img src="/assets/6.jpg"/></a>
    </div>
  </div>
  <% end %>
	<div class="latest">
	<div class='p_right'>
	  <%= form_tag search_path, id: 'searches_item', method: 'get' do %>
	    <ul>
	      <li>
          <%= submit_tag 'btn-search', style: 'display:none;' %>
          <%= link_to 'Cari', '#', class: 'submit_search'%>
        </li>
	      <li>
	        <%= select_tag 'categories', options_for_select(@categories.map{|x| [x.name, x.id ]}.unshift('Kategori') ) %>
	      </li>
	      <li>
	        <div id="search">
            <input type="text" name="filter_name" placeholder='Cari Produk' />
          </div>
        </li>
      </ul>
    <% end %>
	</div>
  <p class="heading"><span>Produk Terbaru</span></p>
  <ul class="items">
    <% @items.each do |i| %>
      <li>
        <a class="image image-selector" href="#items_<%= i.id %>"><img src="<%= i.mini_url %>" width="120" height="120" /></a>
        <h3 class="name"><a href="<%= item_path(category: slug(i.category), item: slug(i)) %>" title="<%= i.name %>">
        <%= i.name.truncate(20) rescue '-' %></a></h3>
        <p class="price"><%= i.amount.to_i.display rescue '-' %> </p>

        <div class="clear"></div>     
      </li>
    <% end %>
  </ul>
  <% if @items.blank? %>
   <br/><br/><br/>
   <h3 style='text-align:center;'> Barang yang anda cari tidak ditemukan </h3>
  <% end %>
 <div class="clear"></div>  
 <%= paginate @items %>   
</div>

<% @items.each do |i| %>
  <div style="display:none"><div id="items_<%= i.id %>">
    <table width='500px'>
      <tr>
        <td colspan='2'>Order Sekarang >> SMS >> 087823400011<hr/></td>
      </tr>
      <tr>
        <td><img src="<%= i.mini_url %>" width="120" height="120" style='border: 1px solid; padding: 5px;' /></td>
        <td>
          Nama Barang: <%= i.name rescue '-' %> <br/>
          Harga Barang: <%= i.amount.to_i.display rescue '-' %><hr/> <br/>
          <span><%= link_to 'Lihat Detail', item_path(category: slug(i.category), item: slug(i)), class: 'btn-information' %></span>
        </td>
      </tr>
    </table>
  </div></div>
<% end %>

