<div id="column-right">
    <div class="box best">
  <div class="box-heading">Produk Terlaris</div>
  <div class="box-content">
    <ul class="best-sellers">
      <% @hot_items.each do |i| %>
        <li>
          <a class="image" href="<%= item_path(category: slug(i.category), item: slug(i)) %>"><img src="<%= i.thumb_url %>" /></a>
          <div class="bRight">
            <h4 class="name">
              <a href="<%= item_path(category: slug(i.category), item: slug(i)) %>"><%= i.name %></a>
            </h4>
            <p class="price"><%= i.amount.to_i.display %></p>
          </div>
          <div class="clear"></div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<div id="banner_right">
  <%= render 'banner', banners: @banners_right %>
</div>
<%= google_adsense_include_tag client: 'ca-pub-7384515891659442', slot: '5712768604' %>
</div>
