$('#banner_right, #banner_left').show("slide")
$('#banner_right').html('<%= j(render 'banner', banners: @banners_right )%>')
$('#banner_left').html('<%= j(render 'banner', banners: @banners_left )%>')

