<style>
  div.image img{
    height: 100%
  }
  
  
.item_price {
    text-align: center;
    font-size: 26px;
}

</style>
<div class="content">
<div class="pWrap">
  <div class="product-info page-detail">
        <div class="pWrapper">
    <div class="left"><br/>
    <div class="image"><a href="<%= @item.images.first.image.url rescue '' %>" target="_blank" class="fancybox"><img src="<%= @item.large_url %>" /></a></div>
      <ul class="image-additional">
        <% @item.image_seconds.each do |m|%>
        <li><a href="<%= m.image.url %>" target="_blank" class="fancybox" rel="fancybox"><img src="<%= m.image.url(:thumb) %>" /></a></li>
        <% end %>
      </ul>
      
    <div class="clear"></div><br/>
    <div class='item_price'><%= @item.amount.to_i.display rescue 0 %></div>
    </div>
        
    <div class="right">      
    <div class="productDetails"><br/><br/>
    <h2><%= @item.name %></h2><br/>
       <div id='rating'>
         <% @item.rate.to_i.times do %>
           <%= image_tag('/assets/star-on.png') %>
         <% end %>
       </div><br/>
       <ul class="pInfo">
          <li>Stok Barang: <%= @item.available? %></li>
       </ul>
       
    <div class='item-description'>
     <%= simple_format @item.description %>
    </div>
    </div> 
    </div>
    </div></div></div>
    
    <div class="pWrap">
      <br/>
      <div class="product-info buy-product page-detail">
      <br/>
      <div>
       Beli Produk:
       
       <br/><br/>
       <%= form_tag process_buy_path do %>
         Nama Anda:<br/>
         <%= text_field_tag :name %><br/>
         <%= hidden_field_tag :item_id, @item.id %><br/>
         No Telepon:<br/>
         <%= text_field_tag :telepon %><br/>
         Alamat:<br/>
         <%= text_area_tag :alamat, nil, rows: 5 %><br/>
         <%= submit_tag 'kirim' %>
       <% end %>
       </div>
      </div>
    </div>
  <div class="clear"></div>
  </div>
  
  <%= render 'sidebar' %>
  <div class="clear"></div>
  </div>
</div>
