<style>
 .page-detail ul, .page-detail ol, .page-detail li, .page-detail p, .page-detail h1, .page-detail h2, .page-detail h3, .page-detail form, .page-detail fieldset, .page-detail a {
    border: 0 none !important;
    margin: auto !important;
}

.page-detail ol {
    list-style: decimal !important;
     padding: 0 25px !important;
}

.page-detail ol li{
    padding-left: 0px !important;
}

.page-detail ul {
    list-style-type: disc;
}
</style>
<div class="content">
<div class="pWrap">
  <div class="product-info page-detail ">
    <h3><%= @page.name.titleize rescue '-' %></h3>
    <br/>
    <p>
      <%= raw @page.content %>
    </p>
  </div>
  <div class="clear"></div>
</div>
