/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require styles
 *= require_self
 *= require fancybox
 *= require js-image-slider
 * require_tree .
 */
 
.footer p, .footer{
      color: white;
    }
    
    .facebook {
      background: white;
      width: 161px;
    }
    
    .pagination span {
    padding: 5px;
}
.pagination {
    padding: 5px 10px;
    float: right;
    background: whitesmoke;
}

  .footerWrapper {
      padding: 20px 0;
  }
  h1#logo {
    left: 85px;
    top: -8px !important;
}
  #banner_left img, #banner_right img {
    width: 95%;
    display:block;border:1px solid #ccc;padding:5px;
  }
  
  .buy-product div {
    padding: 15px;
  }
  
  .buy-product textarea, .buy-product input {
    width: 400px;
    padding: 8px;
    margin: 10px 0;
  }
  
  .buy-product input[type="submit"] {
    width: 100px;
    cursor: pointer;
  }
  
  .item-description {
    width: 380px;
    float: left;
    padding: 5px;
  }
  
  
.page-detail {
    padding: 20px;
     width: 742px;
}

.informations, .fooBottom {
    background: none repeat scroll 0 0 orange;
}

#banner_telephone {
    color: gray;
    right: 110px;
    position: absolute;
    top: 40px;
}

#banner_telephone b {
    color: gray;
    font-size: large;
}


#leave_message {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: orange;
    border-color: grey grey -moz-use-text-color;
    border-image: none;
    border-radius: 10px 10px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    bottom: 0;
    cursor: pointer;
    padding: 10px 10px 4px;
    position: fixed;
    right: 2%;
    font-weight: bold;
    color: white;
}

#leave_message_popup {
    background: white;
    bottom: 0;
    cursor: pointer;
    position: fixed;
    right: 2%;
    border: 1px solid;
    border-bottom: none;
    padding: 5px;
}

#leave_message_popup input[type="submit"] {
    background: gold;
    padding: 8px;
}

#leave_message_popup, #leave_message {
    font-size: small;
}
#leave_message_popup .minimalize_popup {
    font-weight: bold;
    float: right;
}

#column-left {
    float: left;
    margin-right: 20px;
    width: 17%;
}

#column-right {
    width: 17%;
}

.home .content {
    float: left;
    width: 782px;
}


.latest ul.items li {
    float: left;
    padding: 26px 26px 0;
    text-align: center;
    width: 140px;
}

.latest .heading span {
    display: block;
    line-height: 37px;
}

.p_right {
    float: right;
}

.p_right ul li select, .p_right ul li input {
    width: 236px;
}
.p_right ul li {
    float: right;
    margin-left: 5px;
     margin-top: 2px;
}

.p_right ul li input {
    height: 24px;
}
.p_right ul li select {
    height: 32px;
}

.btn-information:hover, .submit_search:hover {
    background: #18538D;
}

.submit_search, .btn-information {
    background: none repeat scroll 0 0 orange;
    border: 1px outset gray;
    color: white;
    padding: 3px 30px 7px;
    line-height: 27px;
    font-weight: bold;
    font-size: medium;
}

.btn-information {
    padding: 3px 30px 7px;
    line-height: 0;
    font-weight: normal;
    font-size: small;
}

#banner_image {
    right: 1px;
    position: absolute;
    top: 10px;
}

#banner_telephone {
    color: gray;
    right: 110px;
    position: absolute;
    top: 40px;
}
ul.categories {
    float: left;
    margin-left: 17%;
}

@media (min-width: 1024px) { 
  #column-left {
    display: hide;
  }
}
