/* Reset */
html, body, ul, ol, li, p,h1, h2, h3, h4, h5, h6,form, fieldset, a {margin: 0;padding: 0;border: 0;}
a img{border:none;}
a{cursor:pointer;color:#135A9F;font-size:12px;text-decoration:none;}
a:active{outline: none;}
a:focus,select{outline:none;}
.clear{clear:both;}
p{font-size:0.8em; line-height:1.6em; color:#333; margin:0;}
img{ border:0; vertical-align:top;}
ul{list-style:none;}
th,td{padding:2px;}
body{background:url('/assets/bg.jpg') repeat-x top;font-size: 100.01%; font-family:tahoma, helvetica, sans-serif;}
ul,ol{list-style:none;}
caption,th,td{font-weight:normal;text-align:left;}
input,textarea,select{border:1px solid #ccc;padding:3px;}
input:focus,textarea:focus,select:focus{border:1px solid #999;}
input[type="radio"],input[type="checkbox"]{border:0 !important;}

/* Container */
#container{margin: -1px 20px 0;} 


/* Header */
h1#logo,a#logo{float:left;width:auto;height:38px;position:relative;top:23px;}
	 h1#logo img,a#logo img{position:absolute;z-index:1;}	
		h1#logo span,a#logo span{position:relative;z-index:0;text-indent:-999px;overflow:hidden;}
	
	.topRight{float:right;width:auto;padding-top:4px;}
		.topRight .curLang{float:left;width:auto;padding-top:10px;}
			.curLang form{float:left;width:auto;padding-right:10px;line-height:11px;font-size:12px;color:#333;}
			#language img{cursor:pointer;}
		.topRight #search{float:right;width:auto;position:relative;line-height:24px;padding:3px;}
			#search .button-search{background:url('/assets/searchBtn.jpg') no-repeat;position:absolute;right:-1px;top:6px;width:27px;height:24px;cursor:pointer;}
			
	/* My account links */
	.informations{float:right;width:auto;line-height:30px;background:url('/assets/linksBg.jpg') repeat-x;margin-top:9px;}
		.informations li{float:left;width:auto;}
			.informations li a{float:left;width:auto;padding:0 15px;line-height:30px;display:block;color:#fff;text-shadow:0 1px 2px #9C6614;font-weight:bold;font-size:11px;}
				.informations li a:hover,.informations li.active a{background:url('/assets/linksHover.jpg') repeat-x;text-shadow:0 -1px 1px #003B6F;}		
		p.welcome{float:right;width:auto;line-height:45px;padding-right:12px;}

/* Categories */
ul.categories{float:left;}
	ul.categories li{float:left;width:auto;position:relative;}
	ul.categories li a{float:left;display:block;line-height:44px;width:auto;color:#fff;font-weight:bold;font-size:12px;padding:0 10px;text-shadow:0 -2px 0 #003B6F;}
		ul.categories li ul{background:#003A75;border-bottom:2px solid #E08D1F;position:absolute;top:44px;width:135px;display:none;z-index:1000}
		ul.categories li ul li{float:none;padding-left:8px;position:relative}
			ul.categories li ul li a{line-height:normal;padding:8px 10px;display:block;width:104px;font-weight:normal;background:url('/assets/subBullet.jpg') no-repeat left;border-bottom:1px dotted #1C5084;position:relative;}
				ul.categories li ul li a:hover{color:#63A0DE;}
	
/* Mini Cart */
#cart{float:right;width:auto;background:url('/assets/miniBg.jpg') repeat-x;border:1px solid #1A3551;margin-top:5px;-moz-border-radius:5px;position:relative;}
	.mini_cart p{line-height:32px;display:block;padding:0 15px;color:#fff;}
		.mini_cart p a{color:#9AC5ED;text-decoration:underline;}
	#cart .content{width:auto;position:absolute;top:38px;z-index:1000;right:0;}
	
			#cart table.cart,#cart table.total{background:#f1f1f1 !important;padding:10px;width:260px;border:1px solid #ccc;}
		#cart table.total{border-top:0;font-size:13px;color:#333;}
			#cart table.total td{text-align:right;}
		#cart .cart .image{padding:0;border:0;}
			#cart .empty{background:#f1f1f1;padding:10px;text-align:center;width:240px;font-size:12px;color:#333;}
		#cart .content .checkout{background:#f1f1f1;width:238px;text-align:right;padding:10px;border:1px solid #ccc;border-width:0 1px 1px;}
			#cart .checkout a.buttons{border:1px solid #000;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;padding:5px 10px;text-align:center;color:#fff;font-weight:bold;font-size:12px;background:#333;text-decoration:none;}
				#cart .checkout a.buttons:hover{text-decoration:underline;}
	
/* Links */	
ul.links{float:left;width:auto;padding:0 5px 0 3px;}
	ul.links li{float:left;width:auto;padding:0 7px;}
		ul.links li a{display:block;float:left;width:auto;line-height:27px;color:#666;}
			ul.links li a:hover{text-decoration:underline;}

/* Welcome */
p.welcome{line-height:27px;float:left;padding:0 9px;border-left:1px dotted #ccc;}
	p.welcome a:hover{text-decoration:underline;}
	
/* Home Content */
#wrapper{padding-top:15px;}
	.home .content{width:680px;float:left;}

#column-right{float:right;width:245px;}


/* Slideshow */
ul.slides{width:680px;height:285px;overflow:hidden;}
ul.slides li{display:none;}
	ul.slideTabs li{float:left;width:169px;border-right:1px solid #638AB2;background:url('/assets/sliderTabs.jpg') repeat-x;line-height:48px;text-align:center;color:#fff;text-shadow:0 -2px 0 #003B6F;font-size:13px;font-weight:bold;cursor:pointer;}
		ul.slideTabs li.active{background:url('/assets/activeTab.jpg') repeat-x;text-shadow:0 -1px 0 #CE6931;}

/* Latest Products */
.latest{margin-top:15px;position:relative;}
	.latest .heading{background:url('/assets/latest.jpg') repeat-x;line-height:36px;padding:0 10px;width:170px;text-align:center;color:#003A75;font-weight:bold;font-size:12px;border:1px solid #ccc;border-width:1px 1px 0 1px;position:relative;z-index:10;top:2px;}
	.latest .heading span{line-height:37px;display:block;}
		.latest ul.items{border:1px solid #ccc;float:left;padding-bottom:15px;}
			.latest ul.items li{float:left;width:140px;padding:14px 14px 0;text-align:center;}
				.latest ul.items li a:hover{text-decoration:underline;}

/* Best Sellers */
.best{margin-bottom:10px;}
.best .box-heading{background:url('/assets/bestSeller.jpg') repeat-x; line-height:43px;color:#fff;padding:0 10px;font-weight:bold;text-shadow:0 2px 0 #003B6F;font-size:13px;}	
	.best .best-sellers li{border:1px solid #ccc;border-top:0;background:url('/assets/bestLi.jpg') repeat-x bottom;height:51px;overflow:hidden;padding:10px 15px;}	
	.best a:hover{text-decoration:underline;}
	.best .image{float:left;width:65px;padding-right:10px;}
		.best .image img{border:1px solid #ccc;}
	.best p.price{font-size:11px;}
	p.price{color:#BF9B0B;font-size:12px;font-weight:bold;}
		p.price span.price-old{text-decoration:line-through;}

/* Banner */
#banner img{display:block;border:1px solid #ccc;padding:5px;}


/* Footer */
.footer{margin-top:30px;background:url('/assets/footerBg.jpg') repeat-x;}	
	.footerWrapper{width:940px;margin:0 auto;padding:30px 0;}
		.fooLeft{float:left;width:385px;padding-right:30px;}
			.fooLeft img{display:block;padding-bottom:5px;}
				.fooLeft p{color:#9AC5ED;}
			.fooLinks{float:left;width:150px;padding-right:20px;}	
				.fooLinks p{font-weight:bold;color:#04223F;}
					.fooLinks a{color:#9AC5ED;background:url('/assets/fooBullet.jpg') no-repeat left;line-height:13px;padding-left:10px;}
						.fooLinks a:hover{text-decoration:underline;}
				.fooBottom{background:#FFD83D url("/assets/linksBg.jpg") repeat-x bottom;}
					.fooBottom p.powered{width:940px;margin:0 auto;line-height:28px;text-align:center;font-weight:bold;}
						.fooBottom p.powered a:hover{text-decoration:underline;}
/* Inner Pages */
.breadcrumb{width:100%;padding:10px 0;font-size:12px;}
	.breadcrumb li{display:inline;}
#content{background:#fff;padding:0 9px;}
	#content h1{font-size:16px;font-family: 'PT Sans Narrow', sans-serif;color:#333;padding-bottom:10px;}


/* Category Pages */
.cat_items{float:left;width:660px;border:1px solid #ccc;}
	#content .cat_items h1{color:#04223F;line-height:normal;padding:15px 15px;background:url("/assets/bestLi.jpg") repeat-x;}
	.cat_items .product-grid .description,.cat_items .product-grid .wishlist,.cat_items .product-grid .compare{display:none;}
	.product-grid{padding-bottom:15px;float:left;width:auto;}
		.product-grid a.button{margin-top:5px;}
	.cat_items .product-grid li{height:215px;margin:0;width:135px;float:left;display:inline-block;padding:15px 15px 0;text-align:center;}
	#notification{color:#fff;text-align:center;}
	 	#notification .attention{background:#093;margin-bottom:15px;line-height:25px;font-size:12px;font-weight:bold;}
			#notification .attention a{color:#fff;text-decoration:underline;}
				#notification img{padding:10px;width:auto;}
	
	.cat_items .pagination{font-size:12px;color:#333;padding:10px 15px;border-top:1px solid #e2e2e2}	
		.cat_items .content{padding:0 15px;width:auto;float:none;}


/* Cart Button
.cart a.button{background:url('/assets/addCart.jpg') repeat-x top;line-height:28px;border:1px solid #DB8429;color:#fff;padding:0 10px;text-shadow:0 -1px 0 #CF7319;-moz-border-radius:4px;font-size:11px;font-weight:bold;width:auto;display:inline-block}
	.cart a.button:hover{background-position:bottom;}
	 */
/* Product Page */
.pWrap{float:left;width:688px;}
.product-info{float:left;width:688px;border:1px solid #ccc;background:url('/assets/productBg.jpg') repeat-x top;position:relative;}
	.product-info .left{float:left;width:290px;}
		.product-info .left .image{padding:20px;}
			
			/* Thumbnails */
			ul.image-additional{padding:10px;border-top:1px solid #ccc;}
				ul.image-additional li{float:left;width:65px;height:65px;padding:0 10px;border:1px solid #ccc;margin:0 3px 3px 0;}		
	
		.product_page #content .right{float:right;width:367px;padding:15px;border-left:1px solid #ccc;}
		#content .productDetails h1{font-size:17px;color:#333;font-family: 'PT Sans Narrow', sans-serif;border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:10px;}
			#content .productDetails p{padding-bottom:10px;}
			
	.addRight{float: right;position: absolute;right: -239px;top: 0;width: 226px;}
		.addWrapper{border:1px solid #ccc;text-align:center;padding:15px;}
			.addWrapper p.price{color:#094784;font-size:23px;font-weight:normal;border-bottom:1px dotted #ccc;margin-bottom:10px;}
			.qty{float:left;border-top:1px dotted #ccc;padding-top:10px;}
			.qtyInput{width:90px;float:left;padding-top:4px;}
					.qtyInput label{float:left;width:auto;padding:3px 5px 0 0;}
						.qty .cart{float:right;}
	
	.pInfo{padding-bottom:10px;font-size:12px;}
		.pInfo li{padding-bottom:5px;color:#333;}
		
	/* Attributes */
	table.attribute{border-collapse:collapse;border:1px solid #ccc;width:100%;padding:10px;font-size:12px;color:#333;}
		table.attribute thead{background:#f1f1f1;font-weight:bold;}	
			table.attribute thead td{font-weight:bold;}
			table.attribute thead td,table.attribute tbody td{padding:5px;}
	
	
	
	
	/* Reviews */
	.reviews{float:left;width:auto;margin-top:15px;padding:15px;border:1px solid #ccc;width:658px;}	
		.reviews .success{background:#093;color:#fff;text-align:center;font-size:12px;padding:5px 0;}
			.reviews a#button-review{background:#333;color:#fff;margin:5px 0;text-align:center;padding:5px 10px;-moz-border-radius:4px;}	
				.rate{font-size:12px;color:#333;margin:10px 0}
	
	/* Options */
	.opWrap label{float:left;width:auto;padding:6px 5px 0 0;}
		.opWrap select{float:left;width:auto;margin-bottom:10px;width:70%;}
	
	/* Share */
	ul.share{background:#f1f1f1;border:1px solid #ccc;padding:15px;border-top:0;}
		ul.share li{font-size:12px;padding-bottom:5px;}
			.addthis_default_style{padding-top:5px;}
		
	/* Related */
	.related{margin-top:15px;}
		.related p.heading{background:url('/assets/productbg.jpg') repeat-x;line-height:35px;width:135px;border:1px solid #ccc;border-bottom:0;color:#094784;text-align:center;position:relative;z-index:1;top:2px;padding:0 10px}
			.box-related{border:1px solid #ccc;text-align:center;}
				.box-related li{padding:10px;border-bottom:1px solid #ccc;font-size:12px;}
	
	/* Products List */
		.product-list li{border-bottom:1px solid #e2e2e2;padding:10px 15px;}
		.product-list .image{float:left;width:120px;height:120px;padding:5px;}
			.product-list .description{font-size:12px;color:#333;padding-bottom:5px}
		.product-list h2 a{color:#333;}
			.product-list h2 a:hover{color:#e7840f}
			.product-list .right{float:right;width:464px;}	
				.product-list .cart,.product-list .wishlist,.product-list .compare{float:left;width:auto;margin:10px 10px 0 0;font-size:12px;}
				.product-list .wishlist,.product-list .compare{line-height:26px;}
			
		/* Product Filter */
		.product-filter{padding:0 15px;font-size:12px;color:#666;border:1px solid #E2E2E2;border-width:1px 0;line-height:45px;}
			.product-filter .display{float:right;width:auto;}
			.product-filter .limit,.product-filter .sort{float:left;padding-right:10px;width:auto;}



												
/* Shopping Cart */
body.shopping_cart table{width:100%;border:1px solid #E2E2E2;font-size:12px;color:#555;border-collapse:collapse;}
	.shopping_cart thead tr td{padding:10px;font-weight:bold;background:#eee;text-align:center;border-bottom:1px solid #E2E2E2;}
	.shopping_cart tbody tr{border-bottom:1px solid #E2E2E2;}
		.shopping_cart tbody tr td{text-align:center;}
	.shopping_cart .cart-module{float:left;width:450px;padding-top:10px;}
		.shopping_cart .cart-module table{border:none;text-align:left;}
			.shopping_cart .cart-module table tr{border:0;}
			.shopping_cart .cart-module table td{text-align:left;}
		.shopping_cart .cart-module div.cart-heading{background:#ddd url('/assets/arrowDown.jpg') no-repeat right;cursor:pointer;padding:5px 10px;font-size:12px;border-bottom:1px solid #ccc;border-top:1px solid #fff;}
		.shopping_cart .cart-module .cart-content{padding:10px;border:1px solid #ccc;border-top:0;display:none;font-size:12px;color:#333;}
			.cart-module .buttons{padding-top:10px;}
		
		.shopping_cart .cart-total{float:right;width:250px;font-size:14px;text-align:right;margin-top:10px;}
		.shopping_cart .cart-total table{width:100%; border-collapse:collapse}
			.shopping_cart .cart-total table td{text-align:center;padding:4px;border-bottom:1px solid #ccc;color:#333;}
				.shopping_cart .cart-total table td strong{text-align:right;display:block}
				
				.shopping_cart .cart-total .buttons{margin:5px 0;}
				.shopping_cart .cart-total a.button,.cart-module a.button{background:url('/assets/addCart.jpg') repeat-x top;display:inline-block;width:auto;padding:0 15px;line-height:26px;border:1px solid #FC9B1B;color:#fff;font-weight:bold;-moz-border-radius:4px;-webkit-border-radius:4px;text-shadow:0 -1px 1px #E7840F;}
					.shopping_cart .cart-total a.button:hover,.cart-module a.button:hover{background-position:bottom;border-color:#FED760;text-decoration:none;}
					
.checkout-content{padding:15px;border:1px solid #ccc;border-width:0 1px;display:block;display:none;}
			.checkout-content .left{float:left;width:50%;}
				
			.checkout-content label{padding-top:5px;}
			 .checkout #content .checkout-content input.large-field,.checkout-content select{width:98%;margin-bottom:5px;}
					.checkout-content #shipping,.checkout-content #newsletter,.btnAgree{float:left;width:auto;}
				.checkout-content #content a{color:#fff;}
				
		.checkout .checkout-heading{background:#ddd url('/assets/arrowDown.jpg') no-repeat left;color:#333;font-weight:bold;padding:5px 10px 5px 28px;font-size:12px;border-bottom:1px solid #ccc;border-top:1px solid #fff;line-height:24px} 		
		.checkout-heading a{float:right;width:auto;text-decoration:underline;color:#333;}
			.checkout-content .right{float:right;width:45%;}
			.checkout-content .buttons .right{float:none;}
		.checkout-content h2{background:url('/assets/blockBtm.jpg') repeat-x bottom;font-size:14px;font-weight:bold;color:#CD303B;padding-bottom:5px;}
			.checkout-content radio{margin:0;}
			.checkout-content label{font-size:12px;color:#333;padding:3px 0;display:block;}
				.checkout-content a{color:#0099CC;font-size:12px;text-decoration:none;}
					.checkout-content a.button{background:url('/assets/addCart.jpg') repeat-x top;display:inline-block;width:auto;padding:0 15px;line-height:26px;border:1px solid #FC9B1B;color:#fff;font-weight:bold;-moz-border-radius:4px;-webkit-border-radius:4px;text-shadow:0 -1px 1px #E7840F;margin-top:10px;}
						.checkout-content a.button:hover{background-position:bottom;border-color:#FED760;text-decoration:none;}
				.checkout-content table td{font-size:12px;}
				.checkout-content span.required{color:#F33;font-size:12px;}
		#confirm{border-bottom:1px solid #ccc;}
		#confirm .right{float:none;width:auto;text-align:right;}
			#confirm table{width:100%;border-collapse:collapse;border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:5px;}
				#confirm table thead{background:#ddd;border-bottom:1px solid #ccc;}
					#confirm table thead td{text-align:center;padding:5px}
						#confirm table tr td{border-bottom:1px solid #ddd;padding:5px;text-align:center;}
			#confirm table tfoot td.price{text-align:right;border-bottom:0;}
			
	.checkout #content input,.checkout #content label{display:inline;}

#content #login label{display:block;}

/* Warning */
.warning{color:#fff;background:#F33;padding:5px 15px;margin-bottom:5px;font-size:12px;font-weight:bold;text-align:center;}
	.warning img.close{padding:5px 10px;cursor:pointer;}
	
	span.error{color:#F33;font-size:11px;font-weight:bold;display:block;padding-bottom:5px;}
	
/* Pages */
#content h2{font-size:13px;color:#666;padding:5px 0;}
	.product_page #content .reviews input{display:inline-block;margin-bottom:10px;}
		#content label,#content input{display:block;}
			#content label{font-size:12px;color:#333;padding-bottom:3px;}
				#content .required{color:#F33}
					b{font-size:12px;color:#333;}
					
		/* buttons */
		.product_returns .buttons{padding:10px 0}
		.product_returns .buttons a,.accountRegister a.button,.accountPage a.button,body.search a.button,.affiliate_program a.button{background:url('/assets/addCart.jpg') repeat-x top;display:inline-block;width:auto;padding:0 15px;line-height:26px;border:1px solid #FC9B1B;color:#fff;font-weight:bold;-moz-border-radius:4px;-webkit-border-radius:4px;text-shadow:0 -1px 1px #E7840F;}
		.product_returns .buttons a:hover,.accountRegister a.button:hover,.accountPage a.button:hover,body.search a.button:hover,.affiliate_program a.button:hover{background-position:bottom;border-color:#FED760;}
	
	/* Sitemap */
	.site_map ul li > ul{padding-left:15px;}
		.site_map ul li a:hover{text-decoration:underline;}
		
/* Account Page */
.accountPage,.accountRegister{float:left;width:725px;}
	.accountRegister .required{float:right;font-size:12px;}
		.accountRegister label,.accountRegister tr{font-size:12px;color:#333;}
			#content .accountRegister input,.accountRegister label{display:inline;}

/* Search */
body.search .criteria{width:704px;border:1px solid #E2E2E2;padding:15px 1px 5px 15px;}
body.search .cat_items{float:none;}
	body.search #content input,body.search #content label{display:inline;}
		.criteria strong{color:#333;font-size:12px;padding-bottom:5px;}
			.search .buttons{padding:10px 0;}
		.search_list{margin-top:15px;}
			.search_list .heading{padding:5px 15px;background:#222;color:#fff;}

/* Affiliate */
.affiliate_program #column-right,.your_transactions #column-right{padding-top:10px;}
	.affiliate_program table{font-size:12px;color:#333;}
		.affiliate_program #content input,.affiliate_program #content label{display:inline;}
		.your_transactions table{border-collapse:collapse;border:1px solid #ccc;font-size:12px;margin:10px 0}
			.your_transactions td{padding:5px 10px;border:1px solid #ccc;}
			
/* Order Information */
.order_information table,.your_reward table,.my_wish table,.address_book table{border-collapse:collapse;border:1px solid #ccc;margin-bottom:10px;}
	.order_information table td,.your_reward table td,.my_wish table td,.address_book table td{padding:10px;border:1px solid #ccc;font-size:12px;color:#333;}
