<!DOCTYPE html>
<html>
<head>
  <title>Plasa98</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>

  <script>
  <% if flash[:notice].present? || flash[:error].present? %>
    $(document).ready(function(){
      alert("<%= flash[:notice] || flash[:error] %>")
    })
  <% end %>
  </script>
</head>
<body class="home"><div id="container">
<div id="header">
      	              <h1 id="logo"><a href="/"><%= image_tag '/assets/logo.png', style: 'margin-top: 6px; width: 230px;'%> </a></h1>
        <div id='banner_telephone'>Layanan Konsumen | ✆ 081224567234 | Sms Center: 087823400011</div>
        <div id='banner_image'><%= image_tag '/assets/contact-woman.png', width: '140px' %></div>
       
<div class="topRight">
    <div id="search">
 
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
  <br/><br/>
        
  <div class="clear"></div> 
  </div> 
      <ul class="categories">
        <li><a href="/">Beranda</a></li>
        <% @pages.each do |p|%>
          <li class="level0"><a href="<%= page_path(slug(p))%>" class="level-top"><%= p.name %></a></li>
        <% end %>
        <!--
        <% @categories.each do |c| %>
        <li class="level0"><a href="<%= category_path(slug(c)) %>" class="level-top"><%= c.name.titleize %></a></li>
        <% end %>
          <!--
          <ul>
           <li><a href="#">Contoh 1</a></li>
           <li class="last"><a href="#">Contoh 2</a></li>
          </ul>
          -->
      </ul>
<div class="clear"></div>
<div class="clear"></div>  <br/><div id="wrapper">	
<%= render 'sidebar_left' %>
<%= yield %>
    
<div class="clear"></div>
</div>
<% if params[:controller] == 'home' && params[:action] != 'item' %>
  <%= render 'sidebar' %>
    <div class="clear"></div>
  </div>
  </div>
<% end %>
<div class="footer">
	<div class="footerWrapper">
          <div class="fooLeft">
            <p>
	<%= image_tag '/assets/logo-footer.png', style: 'width: 250px;'%>
	adalah Toko Online dengan konsep plasa menyediakan segala kebutuhan yang anda perlukan, lebih hemat dan efisien, apapun barang yang anda cari, semua ada di plasa98.com</p>
            
          </div>
       
         <div class="fooLinks">
         	  <p>Layanan Konsumen<br/><br/>
              ☎ 0812.24567.234 <br/>
              SMS: 0878.234.000.11<br/>
              ✉ info@plasa98.com<br/>
            </p>	
         </div>
         
         <div class="fooLinks">
         	 <p>Rekening Bank<br/><br/>
              Bank BRI<br/>
              0759-01-008750-53-9<br/>
              A/n : Jajang<br/>
              <%#= image_tag '/assets/bank.png', style: 'width: 60px;'%>
         </div>
         
         <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

         <div class="fooLinks last facebook">
         	  <div class="fb-like-box" data-href="https://www.facebook.com/pages/Plasa98/1492884907628212?fref=ts" data-width="170" data-height="180" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
         </div>
         
         
         <div class="clear"></div>

   </div>
           
</div>
<div class="fooBottom">
          <p class="powered">@ company of Kreasi Niaga Mandiri 2014. Powered by <a href='#'>onlinenin.com</a></p>
</div>

<div id='leave_message'>
   Tinggalkan Pesan
</div>

<div id='leave_message_popup'>
   <%= form_tag contact_us_path do %>
    <table>
      <tr>
        <td colspan='2' style='background: gold; padding: 8px;'>✉ Tinggalkan Pesan <a href='javascript:void(0)' class='minimalize_popup'>X</a></td>
      </tr>
      <tr>
        <td><br/></td>
      </tr>
      <tr>
        <td>Nama:</td>
        <td><%= text_field_tag '[contact_us]name' %></td>
      </tr>
      <tr>
        <td>No handphone:</td>
        <td><%= text_field_tag '[contact_us]handphone', nil, class: 'for_phone' %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= email_field_tag '[contact_us]email' %></td>
      </tr>
      <tr>
        <td>Pesan: </td>
        <td><%= text_area_tag '[contact_us]message' %></td>
      </tr>
      <tr>
        <td colspan='2'><%= submit_tag 'kirim pesan' %></td>
      </tr>
    </table>
  <% end %>
</div>
</body></html>

